<!-- Servises Section -->
    <about id="about">
        <div class="container">
            <div class="h1">Join the most user-oriented crypto-trading services</div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="image-background">
                        <img src="../img/about/simple.png" class="img" alt="">
                    </div>
                    <div class="card-text">
                        <div class="card-h1">Simple</div>
                        <div class="card-h2">Intuitive and simple applications</div>
                        <div class="card-h2">Share and copy trading data and start your trading experience immediately</div>
                    </div>
                </div>
                <div class="card">
                    <div class="image-background">
                        <img src="../img/about/reliable.png" class="img" alt="">
                    </div>
                    <div class="card-text">
                        <div class="card-h1">Reliable</div>
                        <div class="card-h2">We do not own your funds</div>
                        <div class="card-h2">Every action is recorded in the blockchain</div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="image-background">
                        <img src="../img/about/free.png" class="img" alt="">
                    </div>
                    <div class="card-text">
                        <div class="card-h1">Free</div>
                        <div class="card-h2">No payments for copying traders and bots</div>
                        <div class="card-h2">Fee is paid only if trading was effective (1% from profit)</div>
                    </div>
                </div>
                <div class="card">
                    <div class="image-background">
                        <img src="../img/about/money-growth.png" class="img" alt="">
                    </div>
                    <div class="card-text">
                        <div class="card-h1">Grow your income</div>
                        <div class="card-h2">Copy lead traders and effective bots</div>
                        <div class="card-h2">Save enormous amount of time</div>
                    </div>
                </div>
            </div>
        </div>
    </about>