<!-- Team Section -->
    <team id="team">
        <div class="container">
            <div class="row" style="margin: 0px 0px 50px 0px;">
                <div class="col-lg-12 text-center">
                    <div class="section-heading">FOLLOW TEAM</div>
                    <!-- <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3> -->
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="team-member">
                        <img src="img/team/1.jpg" class="img-responsive img-circle" alt="" width="200" height="200">
                        <div class="text-block">
                            <div class="h1">Anton Grigorev</div>
                            <div class="h2">Founder</div>
                            <ul class="list-inline social-buttons">
                                <li>
                                    <a href="https://www.linkedin.com/in/nsspace/">
                                        <span class="fa-stack fa-lg">
                                            <i class="fa fa-square-o fa-stack-2x"></i>
                                            <i class="fa fa-linkedin fa-1x"></i>
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://github.com/BaldyAsh">
                                        <span class="fa-stack fa-lg">
                                            <i class="fa fa-square-o fa-stack-2x"></i>
                                            <i class="fa fa-github fa-1x"></i>
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://twitter.com/NS_Space">
                                        <span class="fa-stack fa-lg">
                                            <i class="fa fa-square-o fa-stack-2x"></i>
                                            <i class="fa fa-twitter fa-1x"></i>
                                        </span>
                                    </a>
                                </li>
                            </ul>
                            <div class="text">Crypto enthusiast and blockchain developer</div>
                            <div class="text">2+ years of software development for scientific purposes (spacecraft), 1 year in DApps development from scratch</div>
                            <div class="text">Worked on mobile blockchain and fintech open source projects</div>
                            <div class="text">Specialist in Rocket engineering, Bauman Moscow State Technical University</div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="team-member">
                        <img src="img/team/2.jpg" class="img-responsive img-circle" alt="" width="200" height="200">
                        <div class="text-block">
                            <div class="h1">Petr Korolev</div>
                            <div class="h2">Advisor</div>
                            <ul class="list-inline social-buttons">
                                <li>
                                    <a href="https://www.linkedin.com/in/korolevpetr/">
                                        <span class="fa-stack fa-lg">
                                            <i class="fa fa-square-o fa-stack-2x"></i>
                                            <i class="fa fa-linkedin fa-1x"></i>
                                        </span> 
                                    </a>
                                </li>
                                <li>
                                    <a href="https://github.com/skywinder">
                                        <span class="fa-stack fa-lg">
                                            <i class="fa fa-square-o fa-stack-2x"></i>
                                            <i class="fa fa-github fa-1x"></i>
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://twitter.com/skywinder">
                                        <span class="fa-stack fa-lg">
                                            <i class="fa fa-square-o fa-stack-2x"></i>
                                            <i class="fa fa-twitter fa-1x"></i>
                                        </span>
                                    </a>
                                </li>
                            </ul>
                            <div class="text">10+ years experience in enterprise development and architecture for fintech solutions (banking systems, stock exchanges)</div>
                            <div class="text">Worked on information security and protection of personal data.</div>
                            <div class="text">Author and active participant of open source projects</div>
                            <div class="text">MSc in Solid-State Physics, Moscow State University</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </team>
